<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Edit Bootcamp Objective</h2>

  <form method="POST" action="/objectives/edit/<%= id %>">
    Question:<input type="text" name="question" value="<%= objective.question %>" size="80"/>
    <br/>
    Answer&nbsp;&nbsp;:<input type="text" name="answer" value="<%= objective.answer %>" size="80"/>
    <br/>
    <input type="submit" name="submit-button" value="Submit"/>
  </form>

</body>
</html>
