<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add an Objective</title>
</head>
<body>
  <form action="/edit/<%= objective.id %>" method="POST">
    <label for="question">Question</label>
    <input id="question" type="text" name="question" value="<%= objective.question %>"/>
    <label for="answer">Answer</label>
    <input id="answer" type="text" name="answer" value="<%= objective.answer %>"/>
    <input type="submit" value="Edit"/>
  </form>
</body>
</html>
