<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Objectives</title>
</head>
<body>
  <ul>
    <% for (obj of objectives) { %>
      <li><a href="/read/<%= obj.id %>"><%= obj.question %></a><a href="/delete/<%= obj.id %>">[X]</a><a href="/edit/<%= obj.id %>">[!!]</a></li>
    <% } %>
  </ul>
</body>
</html>
