* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
 min-width: 160px;
}

#main {
  display: flex;
  min-height: calc(60vh);
}

#main > article {
  /* flex: 1;
  min-width: 440px; */
}

#main > nav,
#main > aside {
  flex: 0 0 20vw;
  /* width: 15%; */
  background: beige;
}

#main > nav {
  order: -1;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}

/* header,
footer {
  background: yellowgreen;
  height: 20vh;
} */

/* p.another {
  background-color:red;
} */

/* p {
  background-color: green !important; 
} */

/* units - percent is relative to its parent container (for all properties, including font-size) */

p {
  width: 80%;
}

article {
  font-size: 14pt;
}

#main .first {
  font-size: 1rem;
}

/* #main .second {
  font-size: 1rem;
} */

/* #main {
  font-size: 2em;
} */

/* #main .second {
  font-size: 0.3em;
} */

@media only screen and (max-width: 500px) {
  body {
    background-color: rgb(106, 106, 186);
  }
  aside {
    display: none;
  }
}


